---
- name: Install PHP and required modules
  apt:
    name:
      - php8.2-fpm
      - php8.2-mysql
      - php8.2-xml
      - php8.2-curl
      - php8.2-gd
      - php8.2-mbstring
      - php8.2-zip
      - php8.2-redis
    state: present
    update_cache: yes

- name: Copy custom PHP configuration
  copy:
    src: ../../../../../php/php-custom.ini
    dest: /etc/php/8.2/fpm/conf.d/99-custom.ini
  notify: restart php-fpm
